<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <p> Please write your comment and give a score to your doctor:</p>
    <form action="{% url 'save_comment'%}?time_id={{ visit_time.id }}" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit">
    </form>
</div>
</body>
<footer>
    <p style="text-align: center">
        <a href="/users/login/">Log out</a> &nbsp;
        <a href="/users/profile/">Back to profile</a></p>
    </p>
</footer>
</html>