<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Visit Time</title>
</head>
<body>
Are you sure that you want to reserve this visit time:<br>
<p>
    Doctor Name:{{ selected_time.doctor.user.first_name }} {{ selected_time.doctor.user.last_name }}<br>
    Date: {{ selected_time.date }} - Time: {{ selected_time.time }}<br>
    Speciality:{{ selected_time.doctor.speciality }}<br>
    Visiting Price:{{ selected_time.doctor.price }}<br>
</p>
You should pay {{ selected_time.doctor.price }} Toman from your account balance
<p>
<form method="post" action="{% url 'reserve_visit_time' %}?id={{ selected_time.id }}" style="text-align: center">
   {% csrf_token %}
    <input type="submit" value="Pay & Reserve">
</form>
</p>
<p>
<form method="get" action="{% url 'search_page' %}" style="text-align: center">
    <input type="submit" value="Cancel">
</form>

</p>

</body>
<footer>
    <p style="text-align: center">
        <a href="/users/login/">Log out</a> &nbsp;
        <a href="/users/profile/">Back to profile</a></p>
    </p>
</footer>
</html>