<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Reservations</title>
</head>
<body>
<p>
    Your reserved visit times are:
</p>
{% for time in times %}
    <pr>
        ------------------------------------------------<br>
        Doctor Name: {{ time.doctor.user.first_name }} {{ time.doctor.user.last_name }}<br>
        Date: {{ time.date }} - Time: {{ time.time }}<br>
        Speciality: {{ time.doctor.speciality }}<br>
        Address: {{ time.doctor.address }}<br>
        ------------------------------------------------<br>
    </pr>
{% endfor %}
</body>
<footer>
    <p style="text-align: center">
        <a href="/users/login/">Log out</a> &nbsp;
        <a href="/users/profile/">Back to profile</a></p>
    </p>
</footer>
</html>