<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<header style="text-align: center"> Welcome {{ user.username }} </header>
<body>
<p style="text-align: center"> Your balance is {{ info.balance }} Toman </p>
<p style="text-align: center">  <a href="/booking/search/">Search for a doctor</a><br>
  <a href="/users/increase/balance/">Increase your balance</a><br>
 <a href="/booking/show/reservations/?msg=''">See your reserved visit time</a></p>

</body>
</html>